# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# PyCharm project files
.idea/

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# VS Code project files
.vscode/

# Test output / logs
*.log

# Compiled Cython files
*.so
